<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU1CIcgYrmFQjdUI3MPcPhyH2i4Hx5y3A</string>
	<key>GCM_SENDER_ID</key>
	<string>93607564611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dispatcherWeb</string>
	<key>PROJECT_ID</key>
	<string>pink-fleets</string>
	<key>STORAGE_BUCKET</key>
	<string>pink-fleets.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93607564611:ios:fb222114ef68690c9e4bf6</string>
</dict>
</plist>